.div-banner2{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/fonts/Splash.png');
    background-size: cover;
    background-position: top;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}